
.menu_btn {
  background-color: var(--color-500);
  color: var(--color-100);
  border-color: var(--color-100);
}

.menu_btn:hover {
  background-color: var(--color-100);
  color: var(--color-600);
  border-color: var(--color-600);
}